.Rectangle-44 {
    padding: 10px 24px;
    border-radius: 5px;
    border: solid 2px #f7fafc;
  }

  .Sign-up {
    font-family: Roboto;
    font-size: 8px;
    text-align: left;
    color: #fff;
  }